				  <div id="header_share">
					  <a href="http://www.facebook.com/RadioEsperanzah" title="Radio Esperanzah! sur Facebook" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_fb2.png" alt="">
            </a>
					  <a href="http://twitter.com/radioesperanzah" title="Radio Esperanzah! sur Twitter" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_tw2.png" alt="">
            </a>
					  <a href="http://flickr.com/groups/radio-esperanzah" title="Tous les photos de Radio Esperanzah!" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_flkr3.png" alt="">
            </a>
					  <a href="/feed" title="Abonnez-vous au Podcast de Radio Esperanzah" target="_blank">
              <img src="{{theme.url_for_assets}}/images/picto_podcast.png" alt="">
            </a>
					  <div class="clear"></div>
				  </div>
