          <div class="widget">
	          <h2 class="widgettitle">Radios Partenaires</h2>
            <div class="widgetcontent">
              Retrouvez Radio Esperanzah! sur les antennes de :
              <ul class="partenaires">
                <li><a href="http://www.radiopanik.org" title="Radio Panik">Radio Panik</a></li>
                <li><a href="http://www.48fm.ulg.ac.be" title="48FM">48FM</a></li>
                <li><a href="http://www.run.be" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
                <li><a href="http://www.radiocampus.be" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
              </ul>
            </div>
          </div>
