          <div class="widget">
	          <h2 class="widgettitle">Radios Partenaires</h2>
            <div class="widgetcontent">
              Retrouvez Radio Esperanzah! sur les antennes de :
              <ul class="partenaires">
                <li><a href="http://www.radiopanik.org" title="Radio Panik">Radio Panik</a></li>
                <li><a href="http://www.48fm.com" title="48FM">48FM</a></li>
                <li><a href="http://www.run.be" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
                <li><a href="http://www.youfm.be" title="You FM">You FM</a></li>
                <li><a href="http://www.radiocampus.be" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
                <li><a href="http://www.libellulefm.com" title="Radio Libellule">Radio Libellule</a></li>
                <li><a href="http://www.radiocampusmontpellier.fr" title="Radio Campus Montpellier">Radio Campus Montpellier</a></li>
                <li><a href="http://www.radiocampusamiens.com" title="Radio Campus Amiens">Radio Campus Amiens</a></li>
                <li><a href="http://www.lautreradio.fr" title="L'Autre Radio">L'Autre Radio</a></li>
                <li><a href="http://www.radiolarzac.org" title="Radio Larzac">Radio Larzac</a></li>
              </ul>
            </div>
          </div>
