body.episode {
    .description {
        img {
            float: right;
            margin-left: 1em;
        }

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        h2 {
            font-weight: bold;
            font-size: 110%;
            margin-bottom: 8px;
        }

        ul {
            margin-bottom: 8px;
            li {
                list-style: circle inside;
            }
        }
    }
}

.content_sidebar .noaudio {
    text-align: center;
}

.content_sidebar .audio {
    text-align: center;

    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;

    .name {
        font-size: 18px;
        font-family: "dine";
    }

    .links a {
        color: #E34635;
    }

    .ui360-vis {
        margin-left: 10px;

        .sm2_link {
            display: none;
        }
    }

}

#disqus_thread {
    padding: 24px 34px 10px 37px;
    margin-bottom: 28px;
    background: url("../images/bg_content_articles.png") repeat-y;
}

