body.episode {
    .description {
        img {
            float: right;
            margin-left: 1em;
        }
    }
}

.content_sidebar .noaudio {
    text-align: center;
}

.content_sidebar .audio {
    text-align: center;

    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;

    .name {
        font-size: 18px;
        font-family: "dine";
    }

    .links a {
        color: #E34635;
    }

    .ui360-vis {
        margin-left: 10px;

        .sm2_link {
            display: none;
        }
    }

}


