#live {
    .excerpt_txt {
        margin: 0;
    }

    .txt_articles {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }

    .ui360-vis a {
        top: 30%;
    }

    .player {
        text-align: left;
        padding-left: 300px;

        strong {
	          font-family: "dine";
	          font-size: 20px;
	          color: #e34635;
        }
        .broadcasted_at {
            display: block;
        }
        .sm2_link {
            text-align: center;
            padding: 30px;
            background: #e8ff81 url("../images/bg_body.png") repeat;
            margin-left: -20px;
        }
    }

    .m3u {
        margin-top: 12px;
        clear: both;
    }
}

body.live {
    margin-top: 10px;

    #live {
        width: auto;
    }

    #logo {
        float: none;
        display: block;
        margin: 0 auto;
        width: 300px;
    }

    .liens_share {
        margin: 5px auto;
        width: 300px;
        text-align: center;

        a {
          margin-left: 12px;
        }
    }

    .excerpt_txt {
        width: 100%;
        padding-bottom: 14px;
    }

    .footer_articles {
        width: 100%;
        padding: 8px 0 0 0;
    }

    .txt_articles {
        margin-top: 10px;
        background: url("../images/bg_content_mobile.png") repeat-y 10px 0;
        padding: 0;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .player {
        margin-left: 30px;
        height: 380px;
        padding-left: 0 !important;

        .sm2_link {
            position: static;
            display: block;
            float: none;

            clear: both;
            margin-left: 0 !important;
            width: 198px;
        }

    }

    .ui360-vis .sm2-360ui {
        margin-left: 0;
    }

    .articles {
        margin-bottom: 0;
    }
}