body.search {
    .description {
        h3 {
	          font-family: "dine";
	          font-size: 20px;
        }
        .broadcasted_at {
            float: right;
            margin-top: -1.8em;
            font-weight: bold;
        }
    }
}