body.show #archives {
    a {
        $size: 70px;
        $padding_top: 25px;

        font-size: 18px;
        font-family: "dine";

        display: block;
        width: $size;
        height: $size - $padding_top;
        padding-top: $padding_top;
        color: white;
        background-color: #E34635;
        text-align: center;

        float: left;
        margin-left: 10px;

        margin-top: 10px;
    }
}

#podcast-url {
    margin-top: 20px;
}

#podcast-url img {
    float: left;
    margin-right: 15px;
}

#podcast-url p.first {
    margin-top: 12px;

    span {
        font-size: 18px;
        font-family: "dine";

        margin-right: 10px;
    }
}

#podcast-url input {
    width: 250px;
    display: inline;
    background-color: #E8FF81;
    border: 1px solid #777;
    padding: 2px;
}